# Default persona to use
persona = "default"

# Log requests into this file
log_file = "./.qq.jsonl"

# Automatically put the command into clipboard
auto_copy = true

# Provider to use
provider = "openrouter"

# OpenRouter Provider
[providers.openrouter]
api_key = "sk-or-v1-..."
model = "kwaipilot/kat-coder-pro:free"
